@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-container-height: 100px;
  --shadow: 0px 0px 5px black;
}

body {
  background-color: #04031c;

  /* background: url("https://media.istockphoto.com/id/1268759368/photo/close-up-of-a-black-slate-texture-background-stone-grunge-texture.webp?b=1&s=170667a&w=0&k=20&c=cueu6YPGBzKmQ3s9yhDujZ7ysyY8iJ1NychSv3C_fx4=");
  background-repeat: no-repeat;
  background-size: cover; */
}

g text {
  fill: white;
}
